{% extends 'pages/base.html' %}
{% load staticfiles i18n %}

{% block title %}{% trans 'Home' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}

{% block content %}
<section class="hero">
  <div class="hero__logo"><img class="hero__logo-img" src="{% static 'images/ess-logo.png' %}">
    <h1>ESSENTIA SOFTSERV </h1>
    <p>We architect, build and manage user-friendly scalable products for startups.</p>
    <span><p>Got an Idea? <a href="{% url 'contact' %}">Get in touch</a></p></span>
  </div>
</section>
{% endblock content %}
