{% extends 'pages/base.html' %}
{% load i18n %}
{%load staticfiles%}
{% block title %}{% trans 'Projects' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-projects {% endblock body_classes %}
{% block content %}

<section class="section hero" style="background-image: url({% static 'images/bg/bg__project.jpg' %}); ">
    <div class="section-text">
        <h1 class="hero__header" style="color: #383838;">PROJECTS</h1>
        <p class="hero__subtitle" style="color: #383838">We builds software so you can build better products.</p>
    </div>
</section>

<!-- Project section -->
<section class="container text-center typeset">

    <h2>Some of our projects</h2>

    <p>You can review some of the projects that were successfully implemented by Essentia Softserv. If you wish to recieve more detailed information on any of the provided examples or get quotation for your project, please feel free to contact us.</p>

    <div class="projects__list">
        <div class="projects__item">
            <img src="{% static 'images/project/analytics_vidhya.png' %}" alt="">
            <p>Analytics Vidhya</p>
        </div>
        <div class="projects__item">
            <img src="{% static 'images/project/raw_mango.png' %}" alt="">
            <p>Raw Mango</p>
        </div>
        <div class="projects__item">
            <img src="{% static 'images/project/spoken_tutorial.png' %}" alt="">
            <p>Spoken Tutorial</p>
        </div>
        <div class="projects__item">
            <img src="{% static 'images/project/ioda.png' %}" alt="">
            <p>India Open Data Association</p>
        </div>
        <div class="projects__item">
            <img src="{% static 'images/project/juxt.png' %}" alt="">
            <p>JUXT</p>
        </div>
    </div>
</section>

<section class="text-center">
  <a href="{% url 'contact' %}" class="social-callout-twitter btn btn-outline">
    Contact Us
  </a>
</section>
{% endblock content %}
